<footer>
    <div class="footerLinks">
        <div class="socialMedia">
            <ul>
                <li>
                    <a href="https://www.instagram.com/turametal/"> <i class="fa fa fa-instagram" style="margin-right: 2rem;"> @turametal</i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/turateks.turateks.7/"> <i class="fa fa fa-facebook"> @turametal</i></a>
                </li>
            </ul>
        </div>
        <div class="contact">
            <div>
                <i class="fa fa-mobile-phone"> 071 265 292 | 071 265 292</i>
            </div>
          <div>
            <i class="fa fa-user"> Sukri Mustafi | Cemal mustafi</i>
          </div>
            <div>
                <i class="fa fa-home"> Vrapciste, Makedonija</i>
            </div>
        </div>
        <div class="copyright">
            <i class= "fa fa-copyright">AVA 2023</i>
        </div>
        
    </div>
    
</footer>
