<nav class="navbar sticky-top navbar-expand-lg navbar-light  bg-dark">
    <a class="navbar-brand ms-2" href="#">Turametal</a> 
    <button class="navbar-toggler me-4 bg-light"  
    (click)="toggleCollapsed()"
    type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item btn btn-dark">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item btn btn-dark">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item  btn btn-dark">
          <a class="nav-link" href="#">contact</a>
        </li>
      </ul>
    </div>
  </nav>
