/* You can add global styles to this file, and also import other style files */

.logoBackground{
    background-image: url(../src/assets/photos/turametalBackgroundBW.png);
    background-repeat: repeat-y;
    background-size: 100% ; 
    background-size: contain;  
}
